
.body {
    background-color: rgb(44, 44, 44);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    
}
  
.col {
    background-color: white;
    align-items: center;
    font-size: 10vh;
    padding: 2vh;
    width: 20vw;
    height: 22vh;
    border-style: solid;
    font-weight: bold;
    opacity: 0.3;
    transition: opacity 0.75s;
    border-width: 6px;

}

.col.animation {
    background-color: white;
    opacity: 1;
    color: black;
    border-color:rgb(190, 190, 190);
}

.col.win_animation {
    opacity: 0.1;
    color: blue;;
}
  
#turn {

    margin-bottom: -2vw; 
    transition: opacity 0.25s;
    font-weight: bold;
    font-size: 5vh;
    text-align: center;
    color: white;
}

#button {
    display: none;
    margin: 0;
    margin-top: -8vw; 
    font-weight: bold;
    text-align: center;
    font-size:5vh;
    background-color: black;
    opacity: 0.0;
    transition: opacity 1.75s;
    
}

#button.animation {
    opacity: 100;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.box {
    position: relative;
    margin: auto;      

    background-color: black;
    max-width: 50vw;

}

#white_box {
    background-color: white;
}


