
.body {
    background-color: rgb(44, 44, 44);
}
  
.col {
    background: white;
    align-items: center;
    font-size: 80px;
    padding: 30px;
    width: 200px;
    height: 200px;
    border-style: solid;
    font-weight: bold;
}

#turn {
    margin-bottom: -5%; 

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;
    color: white;
}

#b1 {
    margin-top: -20%; 
    font-weight: bold;
    text-align: center;
    font-size:50px;
    display:none;
    background-color: black;
    color: white;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.box {
    position: relative;
    margin: auto;      

    background-color: black;
    max-width: 800px;
}
